<!DOCTYPE HTML>
<html>
    <head>
        <link href="/CSS/stylesheet.css" rel="stylesheet" type="text/css">
        <title>Räume</title>
    </head>
    <body>
            <div id ="form-wrapper">
        <div id = "schrift">
            <div id="header">
                <div class="dropdown">
                    <button class="dropbtn">Menü</button>
                    <div class="dropdown-content">
                        <a href="/rooms">Raumbuchung</a>
                        <a href="/userInformation">Benutzerübersicht</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                <br>
                <h1>HAW Raumbuchungssystem</h1>
                    <a href="/">
                        <img id = "Logo" src = "/images/haw.png" alt = "HAW Logo"/>
                    </a>
            </div>
            <br><br><br><br><br><br><br><br>
            <table>
                <% for (let i=0; i < rooms.length; i++) { %>
                    <tr>
                        <td> <%= rooms[i].roomname %></td>
                        <td> <%= rooms[i].user %></td>
                        <td> <%= rooms[i].status %></td>
                        <td> 

                            <form action= "<%= "/delete/" + rooms[i]._id%>" method = "post"> 
                                <button type = "submit">Remove
                                </button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
        </div>
    </body>
</html>