<!DOCTYPE HTML>
<html>
    <head>
        <link href="/CSS/stylesheet.css" rel="stylesheet" type="text/css"> 
        <title>Fehler</title>
    </head>
    <body>
         <div id = "schrift">
            <div id="header">
                <br>
                <h1>HAW Raumbuchungssystem</h1>
                <a href="/">
                    <img id = "Logo" src = "/images/haw.png" alt = "HAW Logo"/>
                </a>
            </div>
            <br><br><br><br><br><br><br><br>
            Folgende Fehler sind aufgetreten:
            <br>
            <ul>
                <% for(var i = 0; i < error.length; i++) { %>
                   <%= error[i]%><br>
                <% } %>
            </ul>
            <br>
            <a href="/">Zurück zum Start</a>
        </div>
    </body>
</html>