<!DOCTYPE HTML>
<html>
    <head>
        <title>Canvas-Test</title>
    </head> 
    <body>
        <span id="x"></span>X<span id="y"></span>Y
        <div style="position: relative">
            <img id="myImg" src="/images/erdgeschoss.png" width="640" height="480" style="position: absolute; top: 0px; left: 0px"/>
            <canvas id="canvas" width="640" height="480" onmousemove="mouse(event)" style="position: absolute; top: 0px; left: 0px;"></canvas>
        </div>
        <script src="/js/canvas.js"></script>
    </body>
</html>