<!DOCTYPE HTML>
<html>
    <head>
            <a href = "/">
            <img src = "/images/haw.png" alt = "HAW Logo" width = "10%" height = "10%"/>
            </a>
            <br>
        <title>Erdgeschoss</title>
    </head>
    <body>
        <h1>Erdgeschoss </h1>
        <br>
        <img src = "/images/erdgeschoss.png" alt = "Erdgeschoss Finkenau" width = "90%" height = "45%"/>
        </a>
        <br>
        <a href ="/rooms">Raumbuchung</a>
        <br>
        <a href = "/userInformation">Benutzerübersicht</a>
        <br>
        <a href="/logout">Ausloggen</a>
    </body>
</html>