<!DOCTYPE HTML>
<html>
    <head>
        <p>
        <a href = "/">
        <img src = "/images/haw.png" alt = "HAW Logo" width = "10%" height = "10%"/>
        </a>
        </p>
        <br>
        <title>Raumübersicht</title>
    </head>
    <body>
        <form action="/ground/load" method="POST">
            <td colspan="2" style="text-align: right;">
                    <button input type="image" src = "/images/erdgeschoss.png" alt = "Erdgeschoss Finkenau" width = "25%" height = "25%"></button>
                </td>
        <a href = "/ground/load">
        <img src = "/images/erdgeschoss.png" alt = "Erdgeschoss Finkenau" width = "25%" height = "25%"/>
        </a>
        </form>
    </body>
</html>