<!DOCTYPE HTML>
<html>
    <head>
        
        <link href="/CSS/stylesheet.css" rel="stylesheet" type="text/css">
        <title>Raum端bersicht</title>
    </head>
    <body>
        
            <a href="/">
                <img id = "Logo" src = "/images/haw.png" alt = "HAW Logo"/>
                </a>
            
                <div id = "schrift">
                        <div class="dropdown">
                                <button class="dropbtn">Men端</button>
                                <div class="dropdown-content">
                                  <a href="/rooms">Raumbuchung</a>
                                  <a href="/userInformation">Benutzer端bersicht</a>
                                  <a href="/logout">Logout</a>
                                </div>
                              </div>
                

            <div id="header">
            <h1>HAW Raumbuchungssystem</h1>
            </div> 
            <h2>Raum端bersicht</h2>                  
        <a href = "/ground/load">
        <img src = "/images/erdgeschoss.png" alt = "Erdgeschoss Finkenau" width = "25%" height = "25%"/>
        </a>
       
    </body>
</html>