<!DOCTYPE HTML>
<html>
    <head> 
        <link href="/CSS/stylesheet.css" rel="stylesheet" type="text/css">
        <title>Raum端bersicht</title>
    </head>
    <body> 

        <div id = "schrift">
            <div id="header">
                <div class="dropdown">
                    <button class="dropbtn">Men端</button>
                    <div class="dropdown-content">
                        <a href="/rooms">Raumbuchung</a>
                        <a href="/userInformation">Benutzer端bersicht</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                <br>
                <h1>HAW Raumbuchungssystem</h1>
                    <a href="/">
                        <img id = "Logo" src = "/images/haw.png" alt = "HAW Logo"/>
                    </a>
            </div>
            <br><br><br><br><br><br>
            <br><br><br><br>
            <div align="center">
                <div class="container">
                <a href = "/ground/load">
                <img src="/images/erdgeschoss.png" alt="Erdgeschoss Finkenau" class="image" style="width:100%">
                </a>
                <div class="middle">
                <div class="text">Erdgeschoss</div>
                </div>
                </div>
                 
                <br><br>
                 
                 
                 
                <div class="container">
                <img src="/images/bibliothek.png" alt="Bibliothek Finkenau" class="image" style="width:100%">
                <div class="middle">
                <div class="text">Bibliothek<br>- bald verf端gbar -</div>
                </div>
                </div> 
                </div>
                </div>
                <br><br><br><br>
    </body>
</html>