<!DOCTYPE HTML>
<html>
    <head>
        <title>Start</title>
    </head>
    <body>
        <h1>Erfolgreicher Login! </h1>
        <br>
        Hier kann nun der ganze Shit für den Spaß, den wir so veranstalten wollen, zugeschnitten auf den Nutzer <%= username %>. 
        <br>
        <br>
        <a href ="/rooms">Raumbuchung</a> 
        <form action="/rooms" method="POST">
            <td colspan="2" style="text-align: right;">
                    <button type="submit">Raumbuchung</button>
                </td>
        <br>
        <a href = "/userInformation">Benutzerübersicht</a>
        <br>
        <a href="/logout">Ausloggen</a>
    </body>
</html>