<!DOCTYPE HTML>
<html>
    <head>        
        <link href="/CSS/stylesheet.css" rel="stylesheet" type="text/css">  
        <title>Passwort ändern</title>
    </head>
    <body>
        <div id = "schrift">
            <div id="header">
                <div class="dropdown">
                    <button class="dropbtn">Menü</button>
                    <div class="dropdown-content">
                        <a href="/rooms">Raumbuchung</a>
                        <a href="/userInformation">Benutzerübersicht</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                <br>
                <h1>HAW Raumbuchungssystem</h1>
                    <a href="/">
                        <img id = "Logo" src = "/images/haw.png" alt = "HAW Logo"/>
                    </a>
            </div>
            <br><br><br><br><br><br>
            <h1>Passwort ändern</h1>
            <br>
            Hier können Sie nun ihr Passwort ändern.
            <br>
            <div id ="form-wrapper">
            <form action="/user/password/update/finished" method="POST">
                <table> 
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" name="username" value="<%=username%>" disabled/></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" placeholder="Bitte ihr Passwort eingeben." /></td>
                    </tr>
                    <tr>
                        <td>Repeat Password:</td>
                        <td><input type="password" name="repPassword" placeholder="Passwort wiederholen." /></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;">
                            <button type="submit">Passwort ändern</button>
                        </td>
                    </tr>
                </table>
            </form>
            <br>
            </div>
        </div>  
    </body>
</html>