<!DOCTYPE HTML>
<html>
    <head>
        <link href="/CSS/stylesheet.css" rel="stylesheet" type="text/css">
        <title>Benutzer端bersicht</title>
    </head>
    <body>
        <div id = "schrift">
            <div id="header">
                <div class="dropdown">
                    <button class="dropbtn">Men端</button>
                    <div class="dropdown-content">
                        <a href="/rooms">Raumbuchung</a>
                        <a href="/userInformation">Benutzer端bersicht</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                <br>
                <h1>HAW Raumbuchungssystem</h1>
                    <a href="/">
                        <img id = "Logo" src = "/images/haw.png" alt = "HAW Logo"/>
                    </a>
            </div>
            <br><br><br><br><br><br>
            <h1>Verwaltung</h1>
            <br> 
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" value="<%= username %>" disabled/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" value="Beispiel" disabled/></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <button onclick="updateUser()">Passwort aktualisieren</button>
                    </td>
                </tr>
            </table>
            <a href="/bookedRooms">Raum端bersicht</a>
            <script src="/js/handler.js"></script>
        </div>
    </body>
</html>